.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loading {
  text-align: center;
  color: #ffd700;
  font-size: 1.5em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
